<div class="bg-startpage">
    <div class="big-blue-ball"></div>

    <div class="picture-name-job">
        <div class="profil-picture"></div>

        <div class="greeting-scroll-container">
            <div class="greeting-job-container">
                <span class="greeting-line">Hello! I am Matthias</span>
                <span class="greeting-frontend">FRONTEND</span>
                <span class="greeting-developer">DEVELOPER</span>
            </div>

            <div class="scroll-container">
                <span class="scroll">SCROLL</span>
                <div class="scroll-line"></div>
            </div>

            <div class="github-mail-linkedin-icons-container">
                <img src="assets/img/icons/github-icon.png" alt="github-icon">
                <img src="assets/img/icons/email-icon.png" alt="email-icon">
                <img src="assets/img/icons/linkedin-icon.png" alt="linkedin-icon">
            </div>
        </div>
    </div>
</div>