<div class="bg-startpage">
    <div class="big-blue-ball"></div>

    <div class="profil-picture"></div>

    <span class="greeting-line">Hello! I am Matthias</span>

    <span class="greeting-frontend">FRONTEND</span>
    <span class="greeting-developer">DEVELOPER</span>

    <span class="scroll">SCROLL</span>
    <div class="scroll-line"></div>

    <div class="github-mail-linkedin-icons-container">
        <img src="assets/img/icons/github-icon.png" alt="github-icon">
        <img src="assets/img/icons/email-icon.png" alt="email-icon">
        <img src="assets/img/icons/linkedin-icon.png" alt="linkedin-icon">
    </div>
</div>