<div class="bg-startpage">
    <div class="big-blue-ball"></div>

    <div class="picture-name-job max-width-1140px">
        <div class="profil-picture">
            <img src="assets/img/me.png" alt="">
        </div>

        <div class="greeting-scroll-container">
            <div class="greeting-job-container">
                <span class="greeting-line" translate>Hello! I am Matthias</span>
                <span class="greeting-frontend my-component">FRONTEND</span>
                <span class="greeting-developer" translate>DEVELOPER</span>
            </div>

            <div class="scroll-container">
                <span class="scroll">SCROLL</span>
                <div class="scroll-line"></div>
            </div>

            <div class="github-mail-linkedin-icons-container">
                <a href="https://github.com/matthiasmulzet">
                    <img src="assets/img/icons/github-icon.png" alt="github-icon">
                </a>
                <a href="#contact">
                    <img src="assets/img/icons/email-icon.png" alt="email-icon">
                </a>
                <a href="https://www.linkedin.com/in/matthias-mulzet-726b73241/">
                    <img src="assets/img/icons/linkedin-icon.png" alt="linkedin-icon">
                </a>
            </div>
        </div>
    </div>
</div>