.bg-startpage {
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    width: 100vw;
    height: 100%;
}

.big-blue-ball {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    position: absolute;
    width: 892px;
    height: 892px;
    left: -199px;
    top: -71px;
    z-index: 0;
    border-radius: 100%;
}

.picture-name-job {
    margin-top: 106px;
    margin-left: 32px;
    display: flex;
}

.profil-picture {
    position: relative;
    width: 761px;
    height: 917px;
    background-color: aqua;
}

.greeting-job-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
}

.greeting-line {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: #5988FF;
}

.greeting-frontend {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -0.025em;
    color: #5988FF;
}

.greeting-developer {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 800;
    font-size: 118px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #5988FF;
}

.greeting-scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll {
    width: 95px;
    height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #5988FF;
}

.scroll-line {
    width: 0px;
    height: 330px;
    left: 1034px;
    border: 2px solid #5988FF;
    background-color: #5988FF;
}

.github-mail-linkedin-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 25px;
    position: absolute;
    right: 10%;
    bottom: 70px;
    width: 40px;
    height: 170px;


    img {
        width: 30px;
        height: 30px;
    }
}