.bg-startpage {
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
    width: 100vw;
    height: 100%;
}

.big-blue-ball {
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    position: absolute;
    width: 892px;
    height: 892px;
    left: -199px;
    top: -71px;
    z-index: 0;
    border-radius: 100%;

    @media (max-width: 1400px) {
        left: -300px;
    }

    @media (max-width: 1200px) {
        left: -364px;
        width: 850px;
    }

    @media (max-width: 1024px) {
        left: -408px;
        height: 830px;
    }

    @media (max-width: 900px) {
        left: -210px;
        height: 810px;
        width: 890px;
    }

    @media (max-width: 767px) {
        width: 630px;
        height: 612px;
        left: -200px;
        top: -20px;
    }

    @media (max-width: 450px) {
        left: -228px;
    }

    @media (max-width: 389px) {
        width: 537px;
        height: 480px;
        left: -175px;
    }
}

.picture-name-job {
    margin-top: 106px;
    margin-left: 32px;
    display: flex;

    @media (max-width: 1024px) {
        margin-left: auto;
    }


    @media (max-width: 900px) {
        margin-top: 40px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
}

.profil-picture {
    position: relative;

    img {
        object-fit: contain;
        width: 670px;
        height: 917px;

        @media (max-width: 1400px) {
            width: auto;
            height: 800px;
        }

        @media (max-width: 1200px) {
            height: 630px;
        }

        @media (max-width: 1024px) {
            height: 570px;
        }


        @media (max-width: 450px) {
            height: 530px;
            width: 100%;
            color: white;
        }

        @media (max-width: 389px) {
            height: 400px;
        }

    }
}

.greeting-job-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;

    span {
        color: #5988FF;

        @media (max-width: 900px) {
            color: white;
        }
    }
}

.greeting-line {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;

    @media (max-width: 1400px) {
        font-size: 52px;
    }

    @media (max-width: 1200px) {
        font-size: 48px;
    }

    @media (max-width: 1024px) {
        font-size: 40px;
    }

    @media (max-width: 767px) {
        font-size: 37px;
    }

    @media (max-width: 450px) {
        width: 360px;
        font-size: 34px;
    }

    @media (max-width: 389px) {
        width: unset;
        font-size: 26px;
    }
}

.greeting-frontend {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -0.025em;

    @media (max-width: 1400px) {
        font-size: 110px;
    }

    @media (max-width: 1200px) {
        font-size: 102px;
    }

    @media (max-width: 1024px) {
        font-size: 86px;
    }

    @media (max-width: 767px) {
        font-size: 80px;
    }

    @media (max-width: 450px) {
        font-size: 73px;
        width: max-content;
    }

    @media (max-width: 389px) {
        font-size: 54px;
    }
}

.greeting-developer {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 118px;
    line-height: 100%;
    letter-spacing: -0.02em;

    @media (max-width: 1400px) {
        font-size: 100px;
    }

    @media (max-width: 1200px) {
        font-size: 92px;
    }

    @media (max-width: 1024px) {
        font-size: 80px;
    }

    @media (max-width: 767px) {
        font-size: 74px;
    }

    @media (max-width: 450px) {
        font-size: 67px;
        width: max-content;
    }

    @media (max-width: 389px) {
        font-size: 50px;
    }
}

.greeting-scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        display: none;
    }
}

.scroll {
    width: 95px;
    height: 28px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 23px;
    color: #5988FF;
}

.scroll-line {
    width: 0px;
    height: 330px;
    left: 1034px;
    border: 2px solid #5988FF;
    background-color: #5988FF;
}

.github-mail-linkedin-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 25px;
    position: absolute;
    right: 5%;
    bottom: 70px;
    width: 40px;
    height: 170px;

    @media (max-width: 1024px) {
        display: none;
    }


    img {
        width: 30px;
        height: 30px;
        transition: all 115ms ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            margin-right: 4px;
        }
    }
}