<header id="header">
    <div [ngClass]="{'pos-fixed': overlayMenu}"
        class="pos-abs-top-0 max-width-1140px responsive-header header-container">
        <img *ngIf="!imprintLogo; else personalLogoImg" routerLink="" src="assets/img/personal-logo.png"
            alt="personal-logo">
        <ng-template #personalLogoImg>
            <img routerLink="" src="assets/img/personal-logo-blue.png" alt="blue-personal-logo">
        </ng-template>
        <div #navIcon id="nav-icon" [ngClass]="{'open': animateNav}" (click)="animateResponsiveMenu()"
            class="nav-menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div #responsiveMenu class="header-sections">
            <a (click)="closeResponsiveMenu()" href="#about-me" translate>About me</a>
            <a (click)="closeResponsiveMenu()" href="#skills-set" translate>Skills set</a>
            <a (click)="closeResponsiveMenu()" href="#my-work" translate>My work</a>
            <div class="language-container">
                <span (click)="translate.use('de');" class="language-de">DE</span>
                <span>|</span>
                <span (click)="translate.use('en');" class="language-en">EN</span>
            </div>
        </div>
    </div>
</header>