<header id="header">
    <div [ngClass]="{'pos-fixed': overlayMenu}"
        class="pos-abs-top-0 max-width-1140px responsive-header header-container">
        <img *ngIf="!overlayMenu || !imprintLogo; else responsiveLogoImg" routerLink=""
            src="assets/img/personal-logo.png" alt="personal-logo">
        <ng-template #responsiveLogoImg>
            <img src="assets/img/personal-logo-blue.png" alt="blue-personal-logo">
        </ng-template>
        <div id="nav-icon" (click)="showResponsiveMenu()" class="nav-menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="header-sections">
            <a href="#about-me">About me</a>
            <a href="#skills-set">Skills set</a>
            <a href="#my-work">My work</a>
            <div class="language-container">
                <span class="language-de">DE</span>
                <span>|</span>
                <span class="language-en">EN</span>
            </div>
        </div>


        <div #responsiveMenu class="responsive-menu-container responsive-menu-selection">
            <a href="#about-me">About me</a>
            <a href="#skills-set">Skills set</a>
            <a href="#my-work">My work</a>
            <div class="language-container">
                <span class="language-de">DE</span>
                <span>|</span>
                <span class="language-en">EN</span>
            </div>
        </div>
    </div>
</header>