header {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    margin-top: 50px;

    @media (max-width: 450px) {
        margin-top: 40px;
    }

    @media (max-width: 389px) {
        margin-top: 15px;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 450px) {}

        @media (max-width: 389px) {
            margin-left: 15px;
            margin-right: 15px;
        }

        img {
            width: 64px;
            height: 69px;
            cursor: pointer;

            @media (max-width: 450px) {}
        }

        .burger-menu {
            display: none;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            cursor: pointer;

            @media (max-width: 450px) {
                display: flex;
            }

            @media (max-width: 389px) {
                gap: 10px;
            }

            div {
                width: 30px;
                height: 0px;
                border: 2px solid #5988FF;
            }
        }

        .header-sections {
            gap: 40px;
            display: grid;
            grid-template-columns: repeat(3, 125px);

            @media (max-width: 450px) {
                display: none;
            }
        }

        a {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 23px;
            color: #5988FF;
            text-decoration: none;
            transition: all 125ms ease-in-out;

            &:hover {
                font-weight: 800;
                transform: translate(1.2);
            }
        }
    }
}