header {
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    margin-top: 50px;

    div {
        gap: 40px;
        display: flex;
    }

    img {
        width: 64px;
        height: 69px;
    }

    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        color: #5988FF;
        text-decoration: none;
    }
}