header {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    margin-top: 50px;

    @media (max-width: 900px) {
        margin-top: 40px;
    }


    @media (max-width: 389px) {
        margin-top: 15px;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 450px) {}

        img {
            width: 64px;
            height: 69px;
            cursor: pointer;
            z-index: 10;
        }

        .pos-abs-top-0 {
            position: absolute;
            top: 0;
        }

        .responsive-header {
            width: 100%;
            left: auto;
            right: auto;
            left: 50%;
            transform: translate(-50%);
            top: 40px;
            z-index: 10;
        }

        .overlay-menu {
            transform: translateX(0) !important;
        }


        .header-sections {
            gap: 40px;
            display: grid;
            grid-template-columns: repeat(4, 125px);
            justify-items: end;

            @media (max-width: 1200px) {
                justify-items: start;
                gap: 20px;
            }

            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                transform: translateX(100%);
                background: linear-gradient(179.99deg, rgba(255, 255, 255, 1) 12.89%, rgba(234, 240, 255, 1) 91.39%);
            }
        }

        a {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 23px;
            color: #5988FF;
            text-decoration: none;
            transition: all 125ms ease-in-out;

            &:hover {
                font-weight: 800;
                transform: translate(1.2);
            }
        }

        .language-container {
            display: flex;
            align-items: center;

            span {
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 23px;
                color: #5988FF;
            }

            .language-de,
            .language-en {
                cursor: pointer;
                transition: all 125ms ease-in-out;

                &:hover {
                    font-weight: 800;
                    transform: translate(1.2);
                }
            }

        }
    }
}

.pos-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;

    @media (max-width: 900px) {
        top: 40px;
    }

    @media (max-width: 390px) {
        top: 15px;
    }
}

#nav-icon {
    display: none;
    width: 40px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 10;

    @media (max-width: 1024px) {
        display: unset;
    }
}


#nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #5988FF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    z-index: 10;
}


#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 16px;
}

#nav-icon span:nth-child(4) {
    top: 32px;
}

#nav-icon.open span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}