<div class="footer-container">
    <div class="logo-name-social-icons-container max-width-1140px">
        <img routerLink="" class="logo" src="assets/img/personal-logo.png" alt="personal-logo">
        <span class="copyright-matthias-mulzet">© Matthias Mulzet 2023</span>
        <div class="social-icons">
            <a href="https://github.com/matthiasmulzet">
                <img src="assets/img/icons/github-icon-white.svg" alt="github-icon-white">
            </a>
            <a href="mailto: mulzetmatthias@gmail.com">
                <img src="assets/img/icons/email-icon-white.svg" alt="email-icon-white">
            </a>
            <a href="https://www.linkedin.com/in/matthias-mulzet-726b73241/">
                <img src="assets/img/icons/linkedin-icon-white.svg" alt="github-icon-white">
            </a>
        </div>
    </div>
    <span routerLink="/imprint" class="impressum">Impressum</span>
</div>