<div class="footer-container">
    <div class="logo-name-social-icons-container">
        <img class="logo" src="assets/img/personal-logo.png" alt="personal-logo">
        <span class="copyright-matthias-mulzet">© Matthias Mulzet 2023</span>
        <div class="social-icons">
            <img src="assets/img/icons/github-icon-white.svg" alt="github-icon-white">
            <img src="assets/img/icons/email-icon-white.svg" alt="email-icon-white">
            <img src="assets/img/icons/linkedin-icon-white.svg" alt="github-icon-white">
        </div>
    </div>
    <a href="#" class="impressum">Impressum</a>
</div>