.footer-container {
    width: 100%;
    height: 291px;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo-name-social-icons-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin-left: 100px;
        margin-right: 100px;

        .logo {
            width: 64px;
            height: 69px;
            cursor: pointer;
        }

        .social-icons {
            display: flex;
            gap: 42px;

            img {
                width: 30px;
                height: 30px;
                transition: all 115ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.4);
                }
            }
        }
    }

    .copyright-matthias-mulzet {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .impressum {
        position: absolute;
        bottom: 68px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 34px;
        transition: all 115ms ease-in-out;
        background-image: linear-gradient(white, white);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 100%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            background-size: 100% 0.1em;
            background-position-x: 0%;
            font-weight: 600;
        }

        // &:hover {
        //     font-weight: 600;

        // }
    }
}