<form (ngSubmit)="sendMail()" ngNativeValidate #myForm>
    <input required class="style-input-and-textarea" type="text" name="name" id="" placeholder="Your name" #nameField>
    <input required class="style-input-and-textarea" type="text" name="email" id="" placeholder="Your email"
        #emailField>
    <textarea required class="style-input-and-textarea" name="message" id="" cols="30" rows="10"
        placeholder="Your message" #messageField></textarea>
    <button #sendButton>Say hello ;)</button>
</form>