form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    div {
        position: relative;

        img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
        }

        .style-input-and-textarea {
            padding-left: 30px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: black;
            padding: 15px 25px;
            width: 517px;
            background: #FFFFFF;
            border-radius: 10px;
            z-index: 1;
            cursor: pointer;
            outline: 1px solid #0198fa;
            border: 3px solid transparent;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;

            @media (max-width: 1024px) {
                width: 450px;
            }

            @media (max-width: 767px) {
                width: 336px;
            }

            @media (max-width: 450px) {
                width: 265px;
                padding-left: 30px;
            }

            @media (max-width: 389px) {
                width: 250px;
                padding: 15px 10px;
            }

            &:hover {
                outline: 0px solid transparent;
                border: 3px solid #5988FF;
                -webkit-transition: all 0.1s ease-in-out;
                transition: all 0.1s ease-in-out;
            }
        }

        input {
            height: 50px;

            @media (max-width: 450px) {
                height: 40px;
            }
        }

        textarea {
            height: 202px;

            @media (max-width: 450px) {
                height: 162px;
            }
        }

        label {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: black;
            position: absolute;
            pointer-events: none;
            left: 25px;
            transition: 0.2s;
        }

        .label-input {
            top: 50%;
            transform: translateY(-50%);
        }

        .label-textarea {
            top: 15px;
        }

    }

    .error-message {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #E61C40;
        margin-bottom: 10px;
    }
}

button {
    box-sizing: border-box;
    padding: 15px 30px;
    border: 2px solid #5988FF;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #5988FF;
    background-color: transparent;
    animation: removeBgButton 0.15s ease-out;
    outline: none;
    cursor: pointer;

    &:hover {
        color: white;
        animation: blueBgButton 0.15s alternate ease-out forwards;
    }
}


.label-input-on-top {
    top: 0px !important;
    left: 20px !important;
    background-color: #fff !important;
    padding: 0 3px 0 3px !important;
}

.label-textarea-on-top {
    top: -10px !important;
    left: 20px !important;
    background-color: #fff !important;
    padding: 0 3px 0 3px !important;
}

.hidde-error-message {
    opacity: 0;
    cursor: context-menu;
}

.hide-overlay {
    display: none !important;
}

.overlay-email-was-sent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .white-bg-container {
        height: 500px;
        width: 680px;
        background-color: white;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        @media (max-width: 767px) {
            width: 400px;
            height: 390px;
        }

        @media (max-width: 450px) {
            width: 280px;
            height: 370px;
        }

        img {
            height: 200px;
            width: auto;

            @media (max-width: 767px) {
                height: 178px;
            }

            @media (max-width: 450px) {
                height: 140px;
            }
        }

        span {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 32px;
            color: #0198fa;

            @media (max-width: 767px) {
                font-size: 30px;
            }

            @media (max-width: 450px) {
                font-size: 22px;
            }
        }
    }
}