<form (ngSubmit)="sendMail()" ngNativeValidate #myForm>
    <div>
        <input (keydown)="checkForEnterOrTab($event, 'name')" appDetectFocus (click)="addClassToLabel('name')" required
            class="style-input-and-textarea" type="text" name="name" #nameField pattern="[A-Za-z]{1,32}"
            title="Geben Sie Ihren Namen ein" minlength="3">
        <label id="name-label" [ngClass]="{'label-input-on-top': labelNameTop === 'name' }" class="label-input">Your
            name</label>
    </div>
    <span #errorName class="error-message hidde-error-message">Your name is required</span>

    <div>
        <input (keydown)="checkForEnterOrTab($event, 'email')" appDetectFocus (click)="addClassToLabel('email')"
            required class="style-input-and-textarea" type="text" name="email" #emailField
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Geben Sie eine gültige E-Mail Adresse ein">
        <label id="email-label" [ngClass]="{'label-input-on-top': labelEmailTop === 'email' }" class="label-input">Your
            email</label>
    </div>
    <span #errorEmail class="error-message hidde-error-message">Your email is required</span>

    <div>
        <textarea (keydown)="checkForEnterOrTab($event, 'message')" appDetectFocus (click)="addClassToLabel('message')"
            required name="message" id="" cols="30" rows="10" #messageField class="style-input-and-textarea"
            pattern="[A-Za-z]{1,32}" title="Geben Sie eine Nachricht ein" minlength="3"></textarea>
        <label id="message-label" [ngClass]="{'label-textarea-on-top': labelMessageTop === 'message' }"
            class="label-textarea">Your
            message</label>
    </div>
    <span #errorMessage class="error-message hidde-error-message">Your message is required</span>

    <button #sendButton>Say hello ;)</button>
</form>