<div id="my-work" class="my-works-container">
    <div class="max-width-1140px">
        <div class="my-work-headline-container">
            <span class="my-work-headline" translate>My work</span>
            <span class="my-work-description" translate>This page is a sample of my work -
                please feel free to try them out.</span>
        </div>

        <div *ngFor="let project of projects; let i = index;" class="project-container">
            <div (click)="forwardingToLink(project['website-link'])" class="project-img-and-overlay-container">
                <img src="assets/img/projects/{{project['img']}}" alt="project-img">
                <div class="overlay-img">
                    <span class="live-test">LIVE TEST</span>
                </div>
            </div>
            <div class="right-side-project">
                <span class="project-title">{{project['title']}}</span>
                <span class="project-tech-stack">{{project['tech-stack']}}</span>
                <span class="project-description" *ngIf="currentLang === 'en'">{{project['description-en']}}</span>
                <span class="project-description" *ngIf="currentLang === 'de'">{{project['description-de']}}</span>
                <div class="btn-livetest-github">
                    <button class="livetest-button" (click)="forwardingToLink(project['website-link'])"
                        type="button">Live Test</button>
                    <button class="github-button" (click)="forwardingToLink(project['github-link'])"
                        type="button">Github</button>
                </div>
            </div>
        </div>
    </div>

    <div class="blue-ball first-ball"></div>
    <div class="blue-ball second-ball"></div>
    <div class="blue-ball third-ball"></div>
    <div class="blue-ball fourth-ball"></div>
    <div class="blue-ball fifth-ball"></div>
    <div class="blue-ball sixth-ball"></div>
    <div class="blue-ball seventh-ball"></div>
    <div class="blue-ball eighth-ball"></div>
</div>