.my-works-container {
    position: relative;
    padding-bottom: 84px;
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 1024px) {
        padding-bottom: 0;
    }

    .my-work-headline-container {
        display: flex;
        flex-direction: column;
        gap: 35px;

        @media (max-width: 900px) {
            margin-left: 10px;
        }

        @media (max-width: 450px) {
            gap: 15px;
        }

        .my-work-headline {
            margin-top: 111px;
            font-family: 'Baloo 2';
            font-weight: 800;
            font-size: 96px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #5988FF;

            @media (max-width: 767px) {
                font-size: 67px;
            }

            @media (max-width: 450px) {
                margin-top: 93px;
                font-size: 64px;
            }

            @media (max-width: 389px) {
                font-size: 58px;
                text-align: center;
            }
        }

        .my-work-description {
            max-width: 673px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 100px;

            @media (max-width: 450px) {
                font-size: 16px;
                margin-bottom: 64px;
            }

            @media (max-width: 389px) {
                text-align: center;
            }
        }
    }

    .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 88px;
        margin-bottom: 137px;

        @media (max-width: 900px) {
            flex-direction: column;
            gap: 45px;
            margin-bottom: 92px;
        }

        .project-img-and-overlay-container {
            position: relative;
            transition: all 175ms ease-in-out;

            &:hover {
                transform: scale(1.05) translateY(-32px);

                .overlay-img {
                    display: block;
                    opacity: 0.8;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                }
            }

            img {
                display: block;
                width: 620px;
                height: 375px;
                box-shadow: 2px 4px 8px 1px rgb(0 0 0 / 20%);
                cursor: pointer;
                object-fit: cover;

                @media (max-width: 1024px) {
                    width: 450px;
                    height: 275px;
                }

                @media (max-width: 900px) {
                    width: 555px;
                    height: 337px;
                }

                @media (max-width: 767px) {
                    width: 395px;
                    height: 240px;
                }

                @media (max-width: 450px) {
                    width: 340px;
                    height: 206px;
                }

                @media (max-width: 389px) {
                    width: 260px;
                    height: 159px;
                }
            }

            .overlay-img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: none;
                background-color: #5988FF;
                cursor: pointer;
                transition: all 175ms ease-in-out;
            }

            .live-test {
                font-family: 'Baloo 2';
                font-weight: 800;
                line-height: 120%;
                color: white;
                font-size: 56px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }
    }

    .right-side-project {
        display: flex;
        flex-direction: column;
        max-width: 536px;
        gap: 15px 0px;

        @media (max-width: 900px) {
            align-items: center;
            gap: 20px 0px;
        }

        .project-title {
            font-family: 'Baloo 2';
            font-weight: 800;
            font-size: 45px;
            line-height: 120%;
            color: #5988FF;

            @media (max-width: 1200px) {
                font-size: 42px;
            }

        }

        .project-tech-stack {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            color: #5988FF;

            @media (max-width: 900px) {
                text-align: center;
            }
        }

        .project-description {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #000000;

            @media (max-width: 450px) {
                text-align: center;
            }
        }

        .btn-livetest-github {
            display: flex;

            @media (max-width: 1024px) {
                justify-content: space-between;
                width: 100%;
            }

            @media (max-width: 900px) {
                justify-content: space-around;
            }

            button {
                max-width: 137px;
                max-height: 58px;
                border-radius: 10px;
                font-family: 'Baloo 2';
                font-weight: 400;
                font-size: 23px;
                margin-top: 35px;
                cursor: pointer;
                line-height: 120%;

                @media (max-width: 1024px) {
                    margin-top: 10px;
                }

                @media (max-width: 389px) {
                    font-size: 20px;
                }
            }

            .livetest-button {
                display: none;

                @media (max-width: 1024px) {
                    display: flex;
                    padding: 15px 23px;
                    max-width: 137px;
                    max-height: 58px;
                    border: 2px solid #5988FF;
                    background: #5988FF;
                    border-radius: 10px;
                    color: #FFFFFF;
                    border: none;
                    animation: removeWhiteBgButton 0.15s ease-out;

                    @media (max-width: 389px) {
                        padding: 13px 20px;
                    }

                    &:hover {
                        color: #5988FF;
                        border: 2px solid #5988FF;
                        animation: whiteBgButton 0.15s alternate ease-out forwards;
                    }
                }
            }

            .github-button {
                padding: 15px 30px;
                border: 2px solid #5988FF;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
                color: #5988FF;
                animation: removeBgButton 0.15s ease-out;


                @media (max-width: 389px) {
                    padding: 13px 20px;
                }

                &:hover {
                    color: white;
                    animation: blueBgButton 0.15s alternate ease-out forwards;
                }
            }
        }
    }
}


.project-container:nth-child(odd) {
    flex-direction: row-reverse;

    .right-side-project {
        align-items: flex-end;
        justify-content: flex-end;

        @media (max-width: 900px) {
            align-items: center;
            justify-content: center;
        }

        .project-description,
        .project-tech-stack {
            text-align: end;

            @media (max-width: 900px) {
                text-align: center;
            }
        }

    }
}

//blue Background Balls
.first-ball {
    width: 108.75px;
    height: 108.75px;
    left: 40%;
    top: 50px;

    @media (max-width: 1024px) {
        left: 60%;
    }

    @media (max-width: 767px) {
        width: 90px;
        height: 90px;
        top: 20px;
    }

    @media (max-width: 450px) {
        width: 45px;
        height: 45px;
        left: 70%;
    }
}

.second-ball {
    width: 183px;
    height: 183px;
    top: 200px;
    right: 10%;

    @media (max-width: 1024px) {
        width: 160px;
        height: 160px;
        right: 5%;
    }

    @media (max-width: 900px) {
        top: 286px;
        height: 100px;
        width: 100px;
    }

    @media (max-width: 450px) {
        width: 70px;
        height: 70px;
        right: 5%;
    }

    @media (max-width: 389px) {
        top: 210px;
    }
}

.third-ball {
    width: 393.32px;
    height: 393.32px;
    left: -196px;
    top: 577px;

    @media (max-width: 1200px) {
        top: 448px;
    }

    @media (max-width: 767px) {
        width: 223.11px;
        height: 223.11px;
        left: -111.55px;
        top: 360px;
    }

    @media (max-width: 389px) {
        top: 330px;
    }
}

.fourth-ball {
    width: 652.16px;
    height: 652.16px;
    right: -326px;
    top: 862px;

    @media (max-width: 1200px) {
        top: 750px;
    }

    @media (max-width: 1024px) {
        width: 400px;
        height: 400px;
        right: -200px;
    }

    @media (max-width: 900px) {
        top: 1050px;
    }

    @media (max-width: 767px) {
        width: 269.17px;
        height: 269.17px;
        right: -134.59px;
        top: 779px;
    }
}

.fifth-ball {
    width: 51px;
    height: 51px;
    left: 10%;
    top: 1310px;

    @media (max-width: 450px) {
        display: none;
    }
}

.sixth-ball {
    width: 237.84px;
    height: 237.84px;
    left: 15%;
    top: 1692px;


    @media (max-width: 1024px) {
        top: 1770px;
        left: 80%;
    }

    @media (max-width: 450px) {
        top: 1595px;
    }

    @media (max-width: 389px) {
        top: 1450px;
    }
}

.seventh-ball {
    width: 98px;
    height: 98px;
    right: 10%;
    top: 2357px;

    @media (max-width: 450px) {
        display: none;
    }
}

.eighth-ball {
    width: 179.06px;
    height: 179.06px;
    left: 50%;
    top: 2500px;
    z-index: 1;

    @media (max-width: 900px) {
        z-index: -1;
    }

    @media (max-width: 767px) {
        top: 2305px;
    }

    @media (max-width: 450px) {
        top: 2200px;
    }

    @media (max-width: 389px) {
        top: 2049px;
    }
}