.my-works-container {
    position: relative;

    .my-work-headline-container {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-left: 100px;

        .my-work-headline {
            margin-top: 111px;
            font-family: 'Baloo 2';
            font-style: normal;
            font-weight: 800;
            font-size: 96px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: #5988FF;
        }

        .my-work-description {
            max-width: 673px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 100px;
        }
    }

    .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 88px;
        margin-bottom: 137px;
        margin-right: 100px;
        margin-left: 100px;

        img {
            padding: 10px 0px;
            max-width: 620px;
            max-height: 393px;
        }

        .right-side-project {
            display: flex;
            flex-direction: column;
            max-width: 536px;
            gap: 15px 0px;

            .project-title {
                font-family: 'Baloo 2';
                font-style: normal;
                font-weight: 800;
                font-size: 45px;
                line-height: 120%;
                color: #5988FF;
            }

            .project-tech-stack {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 120%;
                color: #5988FF;
            }

            .project-description {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #000000;
            }

            button {
                padding: 15px 30px;
                max-width: 137px;
                max-height: 58px;
                border: 2px solid #5988FF;
                filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
                border-radius: 10px;
                font-family: 'Baloo 2';
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 120%;
                color: #5988FF;
                margin-top: 35px;
            }
        }
    }


    .project-container:nth-child(odd) {
        flex-direction: row-reverse;

        .right-side-project {
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    .first-ball {
        width: 108.75px;
        height: 108.75px;
        left: 40%;
        top: 50px;
    }

    .second-ball {
        width: 183px;
        height: 183px;
        top: 200px;
        right: 10%;
    }

    .third-ball {
        width: 393.32px;
        height: 393.32px;
        left: -196px;
        top: 577px;
    }

    .fourth-ball {
        width: 652.16px;
        height: 652.16px;
        right: -326px;
        top: 862px;
    }

    .fifth-ball {
        width: 51px;
        height: 51px;
        left: 10%;
        top: 1310px;
    }

    .sixth-ball {
        width: 237.84px;
        height: 237.84px;
        left: 15%;
        top: 1751px;
    }

    .seventh-ball {
        width: 98px;
        height: 98px;
        right: 10%;
        top: 2357px;
    }

    .eighth-ball {
        width: 179.06px;
        height: 179.06px;
        left: 50%;
        top: 2500px;
    }
}