<div class="contact-container">
    <div class="max-width-1140px">
        <span class="contact-headline">Contact</span>
        <div class="span-description-and-form-container">
            <div class="contact-me-span-container">
                <span class="problem-to-solve-question">Got a problem to solve?</span>
                <span class="why-should-text">Contact me through this form, I am
                    interested in hearing you, knowing your ideas and contributing to your
                    projects with my work.</span>
                <span class="need-developer-question">Need a Frontend developer? <b>Contact me!</b></span>
            </div>

            <div class="contact-form">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>

    <div class="blue-ball first-bigger-ball"></div>
    <div class="blue-ball second-smaller-ball"></div>

    <img src="assets/img/icons/scroll-up-icon.svg" alt="arrow-scroll-up">
</div>