.introduction-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.blue-ball-in-middle {
    position: absolute;
    width: 206px;
    height: 206px;
    left: 50%;
    top: -103px;
    transform: translate(-50%);
    border-radius: 100%;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);

    @media (max-width: 450px) {
        width: 156px;
        height: 156px;
        top: -78px;
    }
}

.blue-ball-left {
    position: absolute;
    width: 82px;
    height: 82px;
    top: 63px;
    right: 20%;
    border-radius: 100%;
    background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%);

    @media (max-width: 450px) {
        width: 61px;
        height: 61px;
        right: 5%;
    }
}

.work-together-and-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 180px 0px;

    :first-child {
        text-align: start !important;
    }

    @media (max-width: 450px) {
        flex-direction: column;
        gap: 35px;
        padding-top: 148px;
        padding-bottom: 62px;
    }
}

.work-together {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 121px;
    letter-spacing: 0.01em;
    color: #5988FF;
    max-width: 600px;
    line-height: 100%;

    @media (max-width: 450px) {
        max-width: 313px;
        font-size: 64px;
    }

    @media (max-width: 389px) {
        font-size: 57px;
    }
}

.introduction-description {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 23px;
    color: #000000;
    max-width: 571px;
    line-height: 120%;


    @media (max-width: 450px) {
        max-width: 338px;
        font-size: 23px;
    }

    @media (max-width: 390px) {
        font-size: 19px;
        margin-left: 10px;
    }
}

.description-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    a {
        text-decoration: none;
        padding: 15px 30px;
        border: 2px solid #5988FF;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.15));
        border-radius: 10px;
        font-family: 'Baloo 2';
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        color: #5988FF;
        animation: removeBgButton 0.15s ease-out;
        cursor: pointer;

        &:hover {
            color: white;
            animation: blueBgButton 0.15s alternate ease-out forwards;
        }
    }
}