<div class="introduction-container">
    <div class="blue-ball-in-middle"></div>

    <div class="blue-ball-left"></div>

    <div class="work-together-and-description-container max-width-1140px">
        <div>
            <span class="work-together">Let's work <br> together</span>
        </div>
        <div class="description-and-button-container">
            <span class="introduction-description">I am a Front-end developer based in Vienna, Austria.
                I enjoy helping designers and companies bring their ideas into real life.
                I am looking forward to continuing my developer career with a job in a
                junior web developer position.
                <br> <br>
                If you think I’d be a good match for your projects, contact me!</span>
            <button>Send a message</button>
        </div>
    </div>
</div>