<div class="imprint-page max-width-1140px">
    <h1>Impressum</h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <span>Matthias Mulzet<br />
        Auwaldgasse 30<br />
        7540 Güssing</span>

    <h2>Kontakt</h2>
    <span>Telefon: +4368181876943<br />
        E-Mail: mulzetmatthias@gmail.com</span>

    <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
    <span>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
        Verbraucherschlichtungsstelle teilzunehmen.</span>

    <span>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></span>

</div>