<div class="skills-set-container">
    <span class="skills-set-headline">Skills set</span>
    <div class="skill-icons-container">
        <div class="skills-icons-and-name">
            <div>
                <img src="assets/img/icons/angular-skill-icon.png" alt="angular-icon">
                <span>Angular</span>
            </div>

            <div>
                <img src="assets/img/icons/typescript-skill-icon.png" alt="typescript-icon">
                <span>TypeScript</span>
            </div>

            <div>
                <img src="assets/img/icons/javascript-skill-icon.png" alt="javascript-icon">
                <span>JavaScript</span>
            </div>

            <div>
                <img src="assets/img/icons/html-skill-icon.png" alt="html-icon">
                <span>HTML</span>
            </div>

            <div>
                <img src="assets/img/icons/scrum-skill-icon.png" alt="scrum-icon">
                <span>Scrum</span>
            </div>

            <div>
                <img src="assets/img/icons/firebase-skill-icon.png" alt="firebase-icon">
                <span>Firebase</span>
            </div>

            <div>
                <img src="assets/img/icons/git-skill-icon.png" alt="git-icon">
                <span>GIT</span>
            </div>

            <div>
                <img src="assets/img/icons/css-skill-icon.png" alt="css-icon">
                <span>CSS</span>
            </div>

            <div>
                <img src="assets/img/icons/api-skill-icon.png" alt="api-icon">
                <span>Rest-Api</span>
            </div>

            <div>
                <img src="assets/img/icons/material-design-skill-icon.png" alt="material-design-icon">
                <span>Material <br> Design</span>
            </div>
        </div>
    </div>